 <footer class="card-footer">
        <div class="container-fluid">
            <div class="row">
                <section class="col-sm-4">
                    <h6>Hours:</h6>
                    <p id="hours-para">
                        Opens from 4pm to 6pm every single fucking day
                        <br>
                        If you come any other time, we'll blow yer head off
                        <br>
                        But if you come at 12:01:20 sharp, one of our gals will do you good
                    </p>
                    <hr class="d-sm-none">
                </section>

                <section class="col-sm-4">
                    <h6>Cutomer Review:</h6>
                    <p id="customer-review-para">
                        "Absolutely the best place ever...I've never
                        felt this relaxed and good in years, even decades
                        ... Anyone with some vent up pressure or angst
                        should come here. You will leave a changed man"
                    </p>
                    <p id="customer-review-para">
                        "I'm telling you, the ladies here 
                        are smashborganing luitrilart. My wife would
                        turn green if she sees the perfect make up and 
                        the divine figures of the whores running the place.
                        I advise married men who enter to kiss their 
                        married lives goodbye"
                    </p>
                    <hr class="d-sm-none">
                </section>

                <section class="col-sm-4">
                    <h6>Distinguished Guests:</h6>
                    <p id="distinguished-guests-para"> 
                        Harry Potter 
                        <br>
                        George Washington
                        <br>
                        Louis Armstrong
                        <br>
                        Richard Feynman
                        <br>
                        Donald Trump
                    </p>
                    <hr class="d-sm-none">
                </section>                  
            </div>
            <div class="text-center">
                &copy; Copyright Rick and Morty's Brothel
            </div>
        </div>
    </footer>
    
