
<header>
    <nav class="navbar navbar-default" id="header-nav">
            
        <div class="container-fluid" style="margin-left: 5px; padding-left: 5px; padding-right: 10px;">
            <div class="navbar-header navbar-expand">
                <!--
                    <a class="navbar-brand" href="#">
                    <img src="https://i2.wp.com/rickandmortygoodies.com/wp-content/uploads/2017/02/buy-rick-sanchez-rick-and-morty-print-poster.png?resize=463%2C569&ssl=1" width="50" height="50">
                </a>
                -->
        

                <a id="logo" href="#" class="d-none d-sm-block">
                    <div id="logo-img">
                    </div>
                </a>

                <div class="navbar-brand">
                    <a href="#">
                        <h1>Rick and Morty's Brothel</h1>
                    </a>
                    <div>
                        <img src="https://appstickers-cdn.appadvice.com/992640880/827211813/65a860fb3fbbad70a1c1722206acfb9d-11.png" width="19px" height="19px">
                        <span>Penis certified</span>
                        <span class="d-md-none" id="replacement-tel-link"><a href="tel:65-8212-7197">
                        Call us at : 65-8212-7197</a></span>
                    </div>
                </div>         
            </div>

            <button class="navbar-toggler collapsed  d-sm-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
                <span class="navbar-toggler-icon"></span>
            </button>
            
            
            <div class="navbar-header navbar-expand-sm" id="collapse-list-header">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav">

                        <li class="nav-item active" id="Home">
                            <a class="nav-link" href="#">
                            <!--
                            <span><img src="https://appstickers-cdn.appadvice.com/992640880/827211813/65a860fb3fbbad70a1c1722206acfb9d-11.png" width="15px" height="15px"></span>
                            <br class="d-none d-md-block">
                            Home</a>
                            -->
                            Home <span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item" id="Link">
                            <a class="nav-link" href="rickmorty-categories.html">Categories</a>
                        </li>

                        <li class="nav-item dropdown" id="Dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Staff
                            </a>
                            
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                            </div>

                        </li>

                        <li class="nav-item d-none d-md-block" id="tel-link">
                            <a class="nav-link" href="tel:65-8212-7197">
                            65-8212-7197</a>
                            <div>*We Deliver</div>
                        </li>
                    </ul>

                </div>
            </div>   
        </div> <!-- End of header container-fluid -->
    </nav>
</header>