<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>David Chu's Brothel</title>

    <link rel="stylesheet" href="public/scripts/bootstrap.min.js"/>
    <link rel="stylesheet" href="css/website-css.css" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Galada" rel="stylesheet">
    <script src="js/jQuery.js"></script>
    <script src="js/ajax-prac.js"></script>
    <script src="js/DavidChu.js"></script>
</head>

<body>
    {{> nav-bar}}
    <!-- Check above reference to partial -->


    <div class="container-fluid" id="main-content">


    




       
    </div> <!-- End of main-content container-fluid -->

    {{> footer}}
</body>
</html>





